body {
  background: #404040;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tweet-card {
  min-height: 700px;
  width: 800px;
  border-radius: 16px;
  background: #484848;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(30px 30px #202020)
}

.row {
  padding: 10px;
  margin: 0px 50px;
}

.author-row {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  margin: 50px 50px 0px 50px;
}

.author-middle {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
}

.author-name {
  margin: 0;
  color: white;
  transition: all 0.5s;
}

.author-name:hover {
  color: #F97068;
  scale: 1.1;
  transform: translateY(-10px);
  filter: drop-shadow(10px 10px #303030);
}

.author-handle {
  margin: 0;
}

.author-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.follow-button {
  height: 50px;
  width: 150px;
  margin-left: 20px;
  background-color: #E0E0E0;
  display: flex;
  flex-direction: row;
  color: black;
  font-weight: bold;
  justify-content: space-between;
  filter: drop-shadow(10px 10px #303030);
  transition: all 0.5s;
}

.follow-button:hover {
  background-color: #303030;
  color: white;
  transform: translateY(-10px);
  filter: drop-shadow(20px 20px #303030);
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 16px;
  transition: all 300ms;
}

.logo:hover {
  scale: 1.1;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.benjamin {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 16px;
  transition: all 300ms;
  align-self: center
}

.follow-text {
  align-self: center
}

.author-image {
  height: 6em;
  width: 6em;
  object-fit: cover;
  border-radius: 16px;
  filter: drop-shadow(10px 10px #303030);
  transition: all 0.5s;
}

.author-image:hover {
  background-color: #303030;
  color: white;
  transform: translateY(-10px);
  filter: drop-shadow(20px 20px #303030);
  scale: 5;
  transform: translate(35px, 35px)
}

.quote-row {
  margin: 0px 50px;
}

.interaction-row {
  border-top: 1px solid #202020;
  border-bottom: 1px solid #202020;
  margin: 0px 50px;
  display: grid;
  grid-template-columns: 30% 70%;

}

.interaction-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
}

.interaction-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.interaction-text {
  text-transform: uppercase;
}

.interaction-number {
  justify-self: flex-start;
}

.interaction-thumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid #202020;
  gap: 20px;
}

.thumb {
  border-radius: 50px;
  height: 50px;
  transition: all 0.5s;
}


.thumb:hover {
  scale: 2;
  transform: translateY(-10px);
  filter: drop-shadow(20px 20px #303030);
}



.time-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
}